/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070;
  --secondary-color: #DB00FF;
  --main-color: #F1B2CE;
  --dark-color: #000028;
  --url-header: url("../images/cover-image-dark.png");
  --border-parameters: solid 1px var(--accent-color);
}

.theme-dark .page {
  background-color: var(--dark-color);
  background-image: var(--url-header);
}

.theme-dark .main-header__rec {
    display: block;
}