:root.theme-light {
    --accent-color: #FF8DCB;
    --secondary-color: #FFC2E6;
    --main-color: #F1B2CE;
    --dark-color: #353430;
    --dark-url-header: url("../images/cover-image-light.png");
    --border-parameters: solid 1px var(--dark-color);
    --background-color-page: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --secondary-color: #FFC2E6;
    --main-color: #F1B2CE;
    --background-color-page: #FFF1F7;
    --dark-color: #353430;
    --dark-url-header: url("../images/cover-image-light.png");
    --border-parameters: solid 1px var(--dark-color);
  }

    .theme-auto .page {
        background-color: var(--background-color-page);
    }

    .theme-auto .main-header__rec {
        display: none;
    }

    .theme-auto .header__theme-menu-button {
        color: var(--dark-color);
    }

    .theme-auto .content-section__title {
        color: var(--dark-color);
    }

    .theme-auto .article__text {
        color: var(--dark-color);
    }

    .theme-auto .header__theme-menu-button:hover {
        --border-parameters: solid 1px rgb(50, 49, 45, 0.4);
    }   

    .theme-auto .article__text .styled-link {
        --border-parameters: solid 1px var(--dark-color);
    }

    .theme-auto .article__text .styled-link:focus-visible {
        outline-color: var(--dark-color);
    }
} 

.theme-light .page {
  background-color: var(--background-color-page);
}

.theme-light .main-header__rec {
    display: none;
}

.theme-light .header__theme-menu-button {
    color: var(--dark-color);
}

.theme-light .content-section__title {
    color: var(--dark-color);
}

.theme-light .article__text {
    color: var(--dark-color);
}

.theme-light .header__theme-menu-button:hover {
    --border-parameters: solid 1px rgb(50, 49, 45, 0.4);
}   

.theme-light .article__text .styled-link {
    --border-parameters: solid 1px var(--dark-color);
}

.theme-light .article__text .styled-link:focus-visible {
    outline-color: var(--dark-color);
}